[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.header,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

.header {
  padding-bottom: 1rem;
  border-bottom: 1px solid #e5e5e5;
}

.header h2 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

.footer {
  margin-top: 1.5rem;
  padding-top: 0.5rem;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: 60em) {
  .container {
    max-width: 60rem;
  }
}

.container-narrow > hr {
  margin: 2rem 0;
}

.nav .active {
  color: #fff !important;
  background: #006f3b !important;
}

.nav-link {
  color: #006f3b !important;
}

#loading {
  padding-top: 200px;
  height:500px;
  overflow:scroll;
}

#logo {
  color: inherit !important;
  text-decoration: none;
}
