[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.header,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

.header {
  padding-bottom: 1rem;
  border-bottom: 1px solid #e5e5e5;
}

.header h2 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

.footer {
  margin-top: 1.5rem;
  padding-top: 0.5rem;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.jumbotron {
  background-color: white !important;
}

@media (min-width: 60em) {
  .container {
    max-width: 60rem;
  }
}

.container-narrow > hr {
  margin: 2rem 0;
}

.nav .active {
  color: #fff !important;
  background: #006f3b !important;
}

.nav-link {
  color: #006f3b !important;
}

#loading {
  padding-top: 200px;
  height:500px;
  overflow:scroll;
}

#logo {
  color: inherit !important;
  text-decoration: none;
}

.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '3 .column.column-1-4';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-4 {
    width: 30%;
    margin: 15px;
}

.deckgrid .column-1-1 {
    width: 95%;
    margin-left: 10px;
}

@media screen and (max-width: 480px){
    .deckgrid[deckgrid]::before {
        content: '1 .column.column-1-1';
    }
    #logo {
      display: none;
    }
}

.tweet-link {
  color: black !important;
  text-decoration: none !important;
}

.suggest-card {
  margin-bottom: 20px;
}
